header {
    font-size: larger;
    text-align: center;
    width: 75%;
    padding-top: 20px;
    margin:auto;
    background-image: url();
    background-size: cover;
    background-position: center;
}

section {
    width: 75%;
    margin: auto;
    border-bottom: 5px solid #000000;
    
    text-align: center;
}
#aboutMe {
    font-size: large;
    padding-left: 150px;
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 80%; 
}
#myWork {
    padding: 40px;
    font-size: large;
}
#contactMe {
    padding: 40px;
    font-size: large;
}
.portrait  {
    width:200px;
    float:left;
    padding: 40px;
}
.payroll {
    width: 350px;
}
.blog {
    width: 300px;
}
.readmeGen {
    width: 300px;
}
.taskboard {
    width: 300px;
}